@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdf7e6;
  margin: 0;
}

::selection {
  color: #e9b114;
  background-color: #101820;
}


/* Header Styles */

.header-body-div {
  width: 100%;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fdf7e6;
  transition: top 0.5s;
}

.header-title {
  font-size: 3vw;
  margin: 2vw;
  color: #101820;
  text-decoration: underline #fdf7e6;
}

#nav-title:hover {
  color: #101820;
  cursor:auto;
}

.header-title:hover {
  color: #e9b114;
}

.header-menu-div {
  margin-right: 1rem;
}

.menu-item {
  font-size: 2vw;
  font-weight: 300;
  display: inline-block;
  margin: 0 1rem;
  /* border-bottom: 2px solid #fdf7e6; */
  color: #101820;
}
.menu-item:hover {
  cursor: pointer;
  color: #e9b114;
  /* border-bottom: 2px solid #101820; */
}


/* ComponentNav Styles */

#on {
  border-bottom: 2px solid #e9b114;
}


/* Home Styles */

.home-body-div {
  margin-top: 12vw;
}

.home-body-text {
  font-size: 2vw;
  font-weight: 300;
  line-height: 4vh;
  width: 65%;
  margin: 2vw;
}

.home-body-text-span {
  font-weight: 400;
}

.home-img-links-grid {
    margin: 0 4vw;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-column-gap: 6vw;
    grid-row-gap: 6vh;
    grid-auto-rows: min-content;
    overflow: hidden;
}

.img-link {
  width: 40vw;
  overflow: hidden;
}

.img-link img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(90%);
  transition: transform .5s, filter .5s ease-in-out;
  transform-origin: center center;
}

.img-link:hover img {
  filter: brightness(105%);
  transform: scale(1.1);
  cursor: pointer;
}

#h4 {
  font-size: 3vw;
  margin: 4vw;
}

#p {
  font-size: 2vw;
  font-weight: 300;
}

/* Gallery Styles */

.gallery-body {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galery-img {
  max-width: 40vw;
  height: 40vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: .5vw;
  border-radius: 2px;
}

.galery-img img {
  width: 100%;
  height: 100%;
}

#lrg-img {
  max-width: 60vw;
  height: 60vh;
}

#small-img {
  max-width: 25vw;
  height: 25vh;
}



/* Footer Styles */

.footer-body-div {
  height: 32vh;
  margin: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#footer-logo-link {
  text-decoration: none;
}

.footer-logo {
  font-size: 3.5vw;
  padding: 0;
  margin: 2vh 0;
  color: #101820;
  border-bottom: 2px solid #fdf7e6;
  text-decoration: underline #fdf7e6;
}

.footer-logo:hover {
  color: #e9b114;
  border-bottom: 2px solid #101820;
}

.footer-text {
  font-size: 1.75vw;
  font-weight: 300;
  line-height: 2.5vh;
  padding: 0;
  text-decoration: none;
  color: #101820;
}

.footer-text:hover {
  cursor: pointer;
  color: #e9b114;
}
.tag {
 color: #101820;
}
.tag:hover {
  color: #e9b114;
}

#cc {
  font-size: .95vw;
  padding: 0;
  margin: 0;
}

.footer-links {
  color: #101820;
  text-decoration: none;
}

#portfolio-link {
  color: #e9b114;
  text-decoration: none;
  border-bottom: 1px solid #fdf7e6;
}

#portfolio-link:hover {
  border-bottom: 1px solid #101820;
}

/* General Comp Styles */

.p-text {
  font-size: .85vw;
  line-height: 1.75vh;
}

#ticket-p {
  font-weight: 600;
}

#ticket-p-thin {
  font-weight: 300;
}


/* Tickets Styles */

.ticket-line-div {
  width: 100%;
  height: 1px;
  background-color: #101820;
  margin: 0 auto;
}

.comp-header-text {
  font-size: 5vw;
}

.comp-sub-header {
  font-size: 2vw;
  font-weight: 300;
  margin: 2vh 0;
}

.ticket-div {
  display: flex;
  justify-content: space-between;
}

.ticket-info {
  width: 50%;
}

.ticket-prices {
  width: 30%;
  margin: 0 4vw;
  display: flex;
  flex-direction: column;
}

.join-today-div {
  border-radius: 4px;
  height: 9vh;
  background: #e9b114;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vw;
  margin-bottom: 6vh;
}

#join-btn {
  border: 2px solid #101820;
  background: #fdf7e6;
  width: 8vw;
  height: 4vh;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
  transition: all .25s ease-in-out;
}

#join-btn:hover {
  background: #101820;
  color: #e9b114;
  transition: all .25s ease-in-out;
}

.purchase-btn-div {
  display: flex;
  justify-content: center;
}

#purchase-btn {
  border: 2px solid #e9b114;
  background: #e9b114;
  width: 80%;
  height: 4vh;
  /* margin: 0 auto; */
  cursor: pointer;
  border-radius: 4px;
  transition: all .25s ease-in-out;
}

#purchase-btn:hover {
  background: #101820;
  border: 2px solid #101820;
  color: #e9b114;
  /* transition: all .25s ease-in-out; */
}

.add-to-cart {
  width: 30%;
  height: 14vh;
  background: #fdf7e6;
  border-radius: 4px;
  /* position: fixed; */
  box-shadow: 0 40px 90px -5px #b9b5a4;
}

.cart-text-div {
  margin: 1vw;
  display: flex;
  justify-content: space-between;
}

.p-text-btn {
  font-size: .85vw;
  padding: 0;
  margin: 0;
}

.ticket-buy-div {
  margin: 4vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.choose-ticket {
  width: 52.5%;
}

#ticket-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visitor-rules {
  margin-top: 4vw;
}

.ticket-btn {
  width: 2.15vw;
  height: 3.15vh;
  font-size: 1.75vw;
  font-weight: 200;
  border: 2px solid #101820;
  margin-left: .5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdf7e6;
  border-radius: 2px;
  transition: all .25s ease-in-out;
}

.ticket-btn:hover {
  cursor: pointer;
  background: #101820;
  color:#fdf7e6;
  transition: all .25s ease-in-out;
}

.sub-ticket-btn {
  width: 2.15vw;
  height: 3.15vh;
  font-size: 1.75vw;
  font-weight: 200;
  border: 2px solid #101820;
  margin-left: .5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdf7e6;
  border-radius: 2px;
  transition: all .25s ease-in-out;
}

.sub-ticket-btn:hover {
  cursor: not-allowed;
}

.ticket-btn:active {
  background: #e9b114;
  border: 2px solid #e9b114;
}

.ticket {
  width: 2vw;
  height: 3vh;
  border: 1px solid #fdf7e6;
  margin-left: .5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .25s ease-in-out;
}

.ticket:hover {
  border: 1px solid #101820;
  transition: all .25s ease-in-out;
}

.ticket-veiw-div {
  display: flex;
  align-items: center;
}

.ticket-values {
  margin: 0 auto;
}

.disabled {
  border: 2px solid #7b7d7e;
  color: #7b7d7e;
}


/* Membership Styles */

.member-landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6vh;
}

.member-landing-text {
  width: 40%;
}

.member-landing-img {
  width: 40vw;
  height: 56vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#memeber-img {
  width: 100%;
  height: 100%;
}

.middle-body-div {
  margin: 0vh 6vw;
}

.memeber-card-margin {
  font-size: 1vw;
  margin: 0;
}

.top-half-head {
  font-size: 1.75vw;
  font-weight: 400;
  margin: 0vh 1vw;
}

.top-info {
  margin-top: 10vh;
  margin-left: 1vw;
}

.top-text {
  font-weight: 300;
}

.top-half-cost {
  font-size: 1.25vw;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-left: 1vw;
}

.middle-body-head {
  font-size: 3vw;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.middle-body-text {
  font-size: 1.75vw;
  font-weight: 400;
  margin: 2vh 0;
}

#middle-span {
  color: #e9b114;
}

.memeber-body {
  margin: 0 4vw;
  margin-bottom: 4vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: 0vw;
  grid-row-gap: 0px;
}

.member-plan-div {
  background: #101820;
  height: 80vh;
  margin: 2vw;
  border-radius: 4px;
  box-shadow: 0 40px 90px -5px #b6b3a5;
}

.top-half {
  height: 50%;
  background: whitesmoke;
}

.bottom-half {
  height: 50%;
  background: rgb(211, 211, 211);
  box-shadow: 0 40px 90px -5px #a19d89;
  display: flex;
  flex-direction: column;

}

.member-text {
  font-size: 1vw;
  font-weight: 600;
  line-height: 2vh;
  width: 75%;
  margin: 1vw;
}
#memeber-card-text {
  font-size: 1vw;
  margin: 1vh 1vw;
}

.last-past-div {
  margin: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.includes-div {
  width: 40%;
  margin: 4vw;
}

.includes-img-div {
  width: 40vw;
  height: 30vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#includes-img {
  width: 100%;
  height: 100%;
}


/* extra Styles */

.line-div {
  width: 95%;
  height: 1px;
  background-color: #101820;
  margin: 0 auto;
}

/* nav links Pages Styles */

.nav-links-body-div {
  margin-top: 8vw;
  margin-left: 4rem;
}

#tickets {
  margin-top: 14vw;
}

@media only screen and (max-width: 1100px) {
  .gallery-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}