@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdf7e6;
  margin: 0;
}

::selection {
  color: #e9b114;
  background-color: #101820;
}


/* Header Styles */

.header-body-div {
  width: 100%;
  height: 16vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: transparent;
  transition: top 0.5s;
}

#header-title-link {
  cursor: pointer;
  text-decoration: none;
}

.header-title {
  font-size: 3vw;
  margin: 2vw;
  color: #101820;
  cursor: auto;
}

#nav-title {
  cursor: pointer;
}

#nav-title:hover {
  color: #e9b114;
  cursor: pointer;
}

.header-menu-div {
  margin-right: 1rem;
}

.menu-item {
  font-size: 2vw;
  font-weight: 300;
  display: inline-block;
  margin: 1rem;
  color: #101820;
}
.menu-item:hover {
  cursor: pointer;
  color: #e9b114;
}


/* ComponentNav Styles */

#on {
  border-bottom: 2px solid #e9b114;
}


/* Home Styles */

.home-body-div {
  margin: 4vw;
  margin-top: 20vw;
}

.home-body-text {
  font-size: 2vw;
  font-weight: 300;
  line-height: 4vh;
  width: 65%;
  margin: 2vw;
}

.home-body-text-span {
  font-weight: 400;
}

.home-img-links-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-column-gap: 6vw;
    grid-row-gap: 6vh;
    grid-auto-rows: min-content;
    overflow: hidden;
}

.img-link {
  width: 40vw;
  overflow: hidden;
}

.img-link img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(90%);
  transition: transform .5s, filter .5s ease-in-out;
  transform-origin: center center;
}

.img-link:hover img {
  filter: brightness(105%);
  transform: scale(1.1);
  cursor: pointer;
}

#home-links {
  text-decoration: none;
  color: #101820
}

#h4 {
  font-size: 4vw;
  margin: 4vw;
}

#p {
  font-size: 2vw;
  font-weight: 300;
}

/* Gallery Styles */

.gallery-body {
  margin: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galery-img {
  max-width: 40vw;
  height: 40vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: .5vw;
  border-radius: 2px;
  filter: grayscale(90%);
}

.galery-img img {
  width: 100%;
  height: 100%;
  filter: grayscale(90%);
}

#lrg-img {
  max-width: 60vw;
  height: 60vh;
  filter: grayscale(90%);
}

#small-img {
  max-width: 25vw;
  height: 25vh;
  filter: grayscale(90%);
}



/* Footer Styles */

.footer-body-div {
  height: 32vh;
  margin: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#footer-logo-link {
  text-decoration: none;
}

.footer-logo {
  font-size: 3.5vw;
  padding: 0;
  margin: 2vh 0;
  color: #101820;
  border-bottom: 2px solid #fdf7e6;
  text-decoration: underline #fdf7e6;
}

.footer-logo:hover {
  color: #e9b114;
  border-bottom: 2px solid #101820;
}

.footer-text {
  font-size: 1.75vw;
  font-weight: 300;
  line-height: 2.5vh;
  padding: 0;
  text-decoration: none;
  color: #101820;
}

.footer-text:hover {
  cursor: pointer;
  color: #e9b114;
}
.tag {
 color: #101820;
}
.tag:hover {
  color: #e9b114;
}

#cc {
  font-size: .95vw;
  padding: 0;
  margin: 0;
}

.footer-links {
  color: #101820;
  text-decoration: none;
}

#portfolio-link {
  color: #e9b114;
  text-decoration: none;
  border-bottom: 1px solid #fdf7e6;
}

#portfolio-link:hover {
  border-bottom: 1px solid #101820;
}


/* Events Styles */

.events-body-div {
  margin: 4vw;
  margin-top: 18vw;
}

.comp-header-text {
  width: 60%;
  margin-bottom: 10vh;
}

.event-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 6vh;
  }

  .event-grid-div  > * {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  .event-grid-div-upcoming {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 3vw;
  }

  .event-grid-div-upcoming  > * {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  .events-div {
    margin-bottom: 8vh;
  }

  .event {
    width: 100%;
    height: auto;
    border: 1px solid #101820;
    border-radius: 4px;
  }

  #event-img-div {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

  #event-img {
    width: 100%;
    height: 50%;
  }

  #event-text-div {
    margin: 2vw;
  }

  #event-text-btn-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2vw;
  }

  #purchase-btn {
    background: #14e9b0a2;
    border: 2px solid #14e9b0a2;
    width: 40%;
    height: 4vh;
    font-weight: 700;
    cursor: pointer;
    border-radius: 25px;
    transition: all .25s ease-in-out;
  }
  
  #purchase-btn:hover {
    border: 2px solid #14e9b1;
    background: #14e9b1;
    transition: all .25s ease-in-out;
  }

  #purchase-btn:active {
    background-color: #e9b114;
    color: #e9b114;
  }

  #event-link {
    text-decoration: none;
    color: #101820;
  }


  /* Exhibits Styles */

  .exhibits-body-div {
    margin: 4vw;
    margin-top: 18vw;
  }

  .exhibits-grid-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 6vh;
  }

  .exhibits-grid-div  > * {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  .exhibits-coming-grid-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .exhibits-coming-grid-div  > * {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  }

  #exhibit-img-div {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

    #exhibit-coming-img-div {
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

  #coming-exhibit-img {
    width: 100%;
    height: 40vh;
  }

  #exhibit-text-div {
    padding: 0;
    margin: 2vw;
  }

  .monet {
    height: 70%;
    background-image: url(https://media.nga.gov/iiif/5dd2009f-7782-43d8-9892-be5733d8f43b/full/!740,560/0/default.jpg);
  }

  .native {
    height: 70%;
    background-image: url(https://www.metmuseum.org/-/media/images/perspectives/series/exhibition/metcollects.jpg?h=1013&amp;iar=0&amp;mw=2400&amp;w=1520&amp;sc_lang=en&amp;hash=1E0283D574F4DAE06E1F860E186A5F40);
  }

  .viking {
    height: 70%;
    background-image: url(https://nottinghammuseums.org.uk/wp-content/uploads/2021/02/the-vikings-and-anglo-saxons-1080x887-1.jpg);
  }

  .pinoy {
    height: 70%;
    background-image: url(https://cdn-aicbd.nitrocdn.com/YAftAITFjrnLdzaqWiKIELVxAeGHpmqa/assets/static/optimized/rev-92dc3be/wp-content/uploads/2020/02/amorsolo.jpg);
  }

  #inside-exhibit-img-text-1 {
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    margin-left: 2vw;
  }

  #inside-exhibit-img-text-2 {
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    margin: 20vh 2vw;
  }

  #inside-exhibit-img-text-3 {
    width: 35%;
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    color: #21ed0f;
    padding-left: 4vw;
  }

  #inside-exhibit-img-text-4 {
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    margin: 20vh 2vw;
  }


  /*  Shop Styles  */

  .shop-body-div {
    margin: 4vw;
    margin-top: 18vw;
  }

  .text {
    text-align: center;
    font-size: 8vw;
    font-weight: 400;
  }


  /*  Cafe Styles  */

  .cafe-body-div {
    margin: 4vw;
    margin-top: 18vw;
  }

  .text {
    text-align: center;
    font-size: 8vw;
    font-weight: 400;
  }


/* General Comp Styles */

.p-text {
  font-size: 1vw;
  line-height: 2vh;
  font-weight: 400;
}

#ticket-p {
  font-weight: 600;
}

#ticket-p-thin {
  font-weight: 300;
}


/* Tickets Styles */

#thick-line-div {
  width: 92%;
  height: 4px;
  background-color: #101820;
  margin: 0 auto;
}

.ticket-line-div {
  width: 100%;
  height: 1px;
  background-color: #101820;
  margin: 0 auto;
}

.comp-header-text {
  font-size: 5vw;
  color: #101820;
}

.comp-sub-header {
  font-size: 2vw;
  font-weight: 600;
  margin: 2vh 0;
}

#sub-header-id {
  margin: 0;
  padding: 0;
}

.ticket-img-div {
  width: 45vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#ticket-img {
  width: 100%;
  height: 100%;
  filter: grayscale(.9);
  border-radius: 12px;
}

.general-addmision-div {
  margin-top: 4vh;
}

.ticket-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 8vh;
}

.ticket-info {
  width: 50%;
}

.ticket-prices {
  width: 25%;
  margin: 0 4vw;
  display: flex;
  flex-direction: column;
}

#ticket-prices {
  padding-top: .75vh;
  margin: 0;
  line-height: 2.25vh;
}

#bullet-span {
  word-spacing: .5vw;
}

.join-today-div {
  width: 100%;
  border-radius: 12px;
  height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 6vh;
}

#join-btn {
  border: 2px solid #101820;
  background: #fdf7e6;
  width: 8vw;
  height: 4vh;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
  transition: all .25s ease-in-out;
}

#join-btn:hover {
  background: #101820;
  color: #e9b114;
  transition: all .25s ease-in-out;
}

.purchase-btn-div {
  display: flex;
  justify-content: center;
}

#purchase-btn {
  background: #14e9b0a2;
  border: 2px solid #14e9b0a2;
  width: 40%;
  height: 4vh;
  font-weight: 700;
  cursor: pointer;
  border-radius: 25px;
  transition: all .25s ease-in-out;
}

#purchase-btn:hover {
  border: 2px solid #14e9b1;
  background: #14e9b1;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 14vh;
  background: #fdf7e6;
  border-radius: 12px;
  border: 1px solid #101820;
}

.cart-text-div {
  margin: 1vw;
  display: flex;
  justify-content: space-between;
}

.p-text-btn {
  font-size: 1vw;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.ticket-buy-div {
  margin: 4vw;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.choose-ticket {
  width: 52.5%;
}

#ticket-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visitor-rules {
  margin-top: 4vw;
}

.ticket-btn {
  width: 2.15vw;
  height: 3.15vh;
  font-size: 1.75vw;
  font-weight: 200;
  border: 2px solid #101820;
  margin-left: .5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdf7e6;
  border-radius: 2px;
  transition: all .25s ease-in-out;
}

.ticket-btn:hover {
  cursor: pointer;
  background: #101820;
  color:#fdf7e6;
  transition: all .25s ease-in-out;
}

.sub-ticket-btn {
  width: 2.15vw;
  height: 3.15vh;
  font-size: 1.75vw;
  font-weight: 200;
  border: 2px solid #101820;
  margin-left: .5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdf7e6;
  border-radius: 2px;
  transition: all .25s ease-in-out;
  cursor: pointer;
}

.ticket-btn:active {
  background: #e9b114;
  border: 2px solid #e9b114;
}

.ticket {
  width: 2vw;
  height: 3vh;
  border: 1px solid #fdf7e6;
  margin-left: .5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .25s ease-in-out;
}

.ticket:hover {
  border: 1px solid #101820;
  transition: all .25s ease-in-out;
}

.ticket-veiw-div {
  display: flex;
  align-items: center;
}

#ticket-values {
  margin: 0 auto;
}

.disabled {
  width: 2.15vw;
  height: 3.15vh;
  font-size: 1.75vw;
  font-weight: 200;
  margin-left: .5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdf7e6;
  border-radius: 2px;
  border: 2px solid #7b7d7e;
  color: #7b7d7e;
  cursor: not-allowed;
}


/* Membership Styles */

.member-landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6vh;
}

.member-landing-text {
  width: 75%;
}

.member-landing-img {
  width: 40vw;
  border-radius: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0vh 4vw;
}

#memeber-img {
  width: 100%;
  height: 100%;
}

.middle-body-div {
  margin: 0vh 6vw;
}

.memeber-card-margin {
  font-size: 1vw;
  margin: 0;
}

.top-half-head {
  font-size: 1.75vw;
  font-weight: 400;
  margin: 0vh 1vw;
}

.top-info {
  margin: 0 1vw;
}

.top-text {
  font-weight: 300;
}

.top-half-cost {
  font-size: 1.25vw;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-left: 1vw;
}

.middle-body-head {
  font-size: 3vw;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.middle-body-text {
  font-size: 1.75vw;
  font-weight: 400;
  margin: 2vh 0;
}

#middle-span {
  color: #e9b114;
}

.memeber-body {
  margin: 0 4vw;
  margin-bottom: 4vw;
  display: flex;
  justify-content: space-between;
}

.member-plan-div {
  background: #101820;
  height: 80vh;
  margin: 2vw;
  border-radius: 4px;
  box-shadow: 0 40px 90px -5px #b6b3a5;
}

.top-half {
  height: 40vh;
  background: whitesmoke;
}

.bottom-half {
  height: 40vh;
  background: rgb(211, 211, 211);
  box-shadow: 0 5px 15px -20px #a19d89;
  display: flex;
  flex-direction: column;

}

.member-text {
  font-size: 1vw;
  font-weight: 600;
  line-height: 2vh;
  width: 75%;
  margin: 1vw;
}
#memeber-card-text {
  font-size: 1vw;
  margin: 1vh 1vw;
}

.last-past-div {
  margin: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.includes-div {
  width: 40%;
  margin: 4vw;
}

.includes-img-div {
  width: 40vw;
  height: 30vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%)
}

#includes-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.questions-div {
  margin: 4vw;
 display: flex;
 flex-direction: column;
}

.questions-text-div {
  display: flex;
  justify-content: center;
}

.questions-text {
  width: 33%;
  margin: 0 2vw;
}

#questions-header-text {
  font-size: 2vw;
  padding: 0;
  margin: 0 1.75vw;
  margin-bottom: 2vw;
}

#questions-text-thick {
  font-weight: 500;
}

#questions-text-thin {
  font-weight: 300;
}


/* Donate Styles */

.donation-header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4vw;
}

.donation-header-text {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.donation-sub-text {
  font-size: 3vw;
  font-weight: 300;
  margin: 0;
  margin-top: 6vh;
  margin-bottom: 2vh;
  margin-left: .5vw;
}

.donate-img-div {
  filter: grayscale(100%);
  width: 40vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0vh 4vw;
}

#donationheader-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.container {
  position: relative;
  margin-right: 6vw;
  cursor: pointer;
  font-size: 1.25vw;
  font-weight: 300;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 3vw;
  width: 5vw;
  font-weight: 400;
  background-color: #fdf7e6;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #101820;
}

.container:hover input ~ .checkmark {
  background-color: #14e9b1;
}

.container input:checked ~ .checkmark {
  background-color: #101820;
  border: 1px solid #101820;
  color: #fdf7e6;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.payment-doner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#donation-sub-text {
  font-size: 3vw;
  font-weight: 300;
  margin: 0;
  margin-top: 6vh;
  margin-left: .5vw;
}

.input-text {
  width: 30vw;
  height: 5vh;
  margin: .75vw;
  padding: 0;
  border: 1px solid #101820;
  border-radius: 4px;
  padding-left: 1vw;
}

.input-text:active {
  border: 2px solid #101820;
}

::placeholder {
  color: #101820;
}

.form-text-area{
  width: 30vw;
  height: 10vh;
  margin: .75vw;
  padding-left: 1vw; 
}

#drop-down-text {
  width: 14.45vw;
  margin-right: 1.5vw;
}

.contact-info-text {
  width: 34%;
  font-weight: 300;
  line-height: 2.75vh;
}

.donate-btn {
  width: 10vw;
  height: 4vh;
  margin-top: 2vh;
  margin-left: .75vw;
  border-radius: 4px;
  transition: all .25s ease-in-out;
}

.donate-btn:active {
  background-color: #e9b114;
  color: #e9b114;
}


/*  Contact Styles  */

.contact-body-div {
  margin: 4vw;
  margin-top: 18vw;
}

.text {
  text-align: center;
  font-size: 8vw;
  font-weight: 400;
}


/* extra Styles */

.line-div {
  width: 95%;
  height: 1px;
  background-color: #101820;
  margin: 0 auto;
}

/* nav links Pages Styles */

.nav-links-body-div {
  margin-top: 20vw;
  margin-left: 4rem;
  margin-bottom: 3vw;
}

#id-choose-tickets {
  margin: 0;
  margin-bottom: 4vw;
}

#tickets {
  margin-top: 16vw;
}


/* NavBarFull Styles */

.menu-list {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media only screen and (max-width: 1100px) {
  .gallery-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.margin-div {
  width: 300px;
  padding: 30px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}